* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px; }

div {
  border: 2px solid red;
  display: block;
  text-align: center; }

body {
  color: yellow;
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

div.flex {
  height: 100px;
  background-color: red; }

html.flexbox div.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green; }

div.grid {
  width: 100px;
  height: 100px;
  background-color: red; }

html.cssgrid div.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: green; }

div.no-svg, div.svg {
  width: 407px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

div.no-svg {
  background-image: url("../img/mailchimp.png");
  background-color: red; }

div.svg, svg {
  margin: 0;
  padding: 0;
  width: unset;
  background-image: none; }

svg:hover path {
  stroke: green;
  stroke-width: 1px;
  stroke-dasharray: 200;
  stroke-dashoffset: 1000;
  fill: none;
  animation: dash 5s ease-in-out infinite alternate; }

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 200; } }
