* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px; }

div {
  border: 2px solid red;
  display: block;
  text-align: center; }

body {
  color: yellow;
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

div.flex {
  height: 100px;
  background-color: red; }

html.flexbox div.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green; }

div.grid {
  width: 100px;
  height: 100px;
  background-color: red; }

html.cssgrid div.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: green; }

div.svg {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url("../img/apple.png");
  background-color: red; }

html.svg div.svg {
  background: url("../img/apple-alt-solid.svg") center center no-repeat; }
